@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --cor-de-fundo: #00030C;
    --botao-azul-hover: #348af2;

    --fonte-principal: 'Inter', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body:focus {
    color: coral;
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--fonte-principal);
    font-size: 16px;
    font-weight: 400;
    cursor: default;
}

.principal {
    background-image: url("assets/Background.png");
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container {
    display: grid;
    /* gap: 52px; */
    grid-template-columns: 50% 50%;
    height: 100vh;
}

.container__botao{
    display: block;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    padding: 1em;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 1em;
}

.botao_secundario {
    display: block;
    background-color: transparent;
    border: 1px solid var(--branco-principal);
    color: var(--branco-principal);
    padding: 1em;
    border-radius: 8px;
    text-decoration: none;
    margin-bottom: 1em;
}

.container__aviso {
    font-size: 12px;
    color: var(--cinza-secundario);
}

.container__titulo {
    font-size: 28px;
    font-weight: 700;
}

.container__imagem {
    margin: 1em 0 2em 0;
}

.container__caixa {
    margin: 0 6em;
}

.secundario__imagem {
    width: 80%;
}

.secundario {
    align-items: center;
    margin: 0 11em;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.1em;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1em;
}

.container__descricao {
    padding: 2em;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    gap: 69px;
    text-align: center;
    list-style-type: none;
    margin-bottom: 10em;
}

.dispositivos {
    text-align: center;
}

.dispositivos__titulos {
    font-size: 48px;
    font-weight: 700;
    padding: 1em;
    color: var(--branco-principal);
}

.lista__item {
    font-weight: 700;
    font-size: 32px;
    color: var(--branco-principal);  
}

.rodape {
    text-align: center;
    margin-bottom: 5em;
}

.rodape__lista {
    display: flex;
    justify-content: center;
    gap: 16px;
    list-style-type: none;
    margin: 3em 0 2em 0;
}

.lista__link__link {
    color: var(--branco-principal);
    text-decoration: none;
    font-size: 16px;
    font-weight: 400;
}

.rodape__texto {
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 0 14em;
    margin-bottom: 1.5em;
}

.lista__link a:hover {
    color: var(--botao-azul);
    transition: all 150ms;
}

.container__botao:hover {
    background-color: var(--botao-azul-hover);
    /* color: var(--cor-de-fundo); */
    transform: translateY(2px);
    transition: all 150ms;
}

.botao_secundario:hover {
    transform: translateY(2px);
    background-color: #ffffff1a;
    /* color: var(--cor-de-fundo); */
    transition: all 150ms;
}